In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
dt=pd.read_csv('/content/framingham.csv')

In [ ]:
dt

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [ ]:
dt.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [ ]:
dt["education"]=dt["education"].replace(np.NaN,dt["education"].mean())

In [ ]:
dt

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [ ]:
dt.isnull().sum()

male                 0
age                  0
education            0
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [ ]:
dt["glucose"]=dt["glucose"].replace(np.NaN,dt["glucose"].mean())

In [ ]:
dt.dropna(inplace=True)

In [ ]:
dt.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4090.000000,4090.000000,4090.000000,4090.000000,4090.000000,4090.000000,4090.000000,4090.000000,4090.000000,4090.000000,4090.000000,4090.000000,4090.000000,4090.000000,4090.000000,4090.000000
mean,0.434719,49.499511,1.982377,0.490220,8.995355,0.029340,0.005379,0.309291,0.025428,236.659658,132.226528,82.892665,25.797645,75.836186,81.886963,0.149389
std,0.495781,8.542193,1.008011,0.499965,11.913388,0.168778,0.073153,0.462258,0.157440,44.467756,21.901522,11.839483,4.077631,12.063481,22.870846,0.356515
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,113.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,72.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,79.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,143.500000,89.500000,28.040000,83.000000,85.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [ ]:
dt.isnull().sum()

male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [ ]:
X=dt.drop(columns='TenYearCHD')

In [ ]:
y=dt['TenYearCHD']

In [ ]:
X

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.000000
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.000000
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.000000
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.000000
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.000000
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,81.963655
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.000000
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.000000
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.000000

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler()

In [ ]:
X_train_scaled=scaler.fit_transform(X_train)

In [ ]:


X_test_scaled=scaler.transform(X_test)

In [ ]:
X_train_scaled

array([[-0.86911726, -1.10887839,  0.0153271 , ...,  0.45677988,
        -0.05996929, -0.5115895 ],
       [-0.86911726, -1.22582817, -0.97673265, ..., -0.22339984,
         2.01628112,  1.13222956],
       [-0.86911726,  0.4114688 ,  1.00738685, ..., -0.40330245,
         3.01288131,  0.00593904],
       ...,
       [-0.86911726,  0.17756923, -0.97673265, ...,  0.55782108,
         0.35528079, -0.68462308],
       [ 1.15059273, -0.75802904, -0.97673265, ...,  0.7525102 ,
        -0.30911933, -0.4683311 ],
       [ 1.15059273, -1.10887839,  1.00738685, ..., -0.26036613,
        -0.05996929, -0.16552233]])

In [ ]:
X_train

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
3501,0,40,2.0,1,20.0,0.0,0,0,0,242.0,112.5,62.5,27.65,75.0,70.000000
1414,0,39,1.0,1,15.0,0.0,0,0,0,255.0,142.0,85.5,24.89,100.0,108.000000
1470,0,53,3.0,0,0.0,0.0,0,1,0,238.0,172.5,91.0,24.16,112.0,81.963655
3626,0,38,1.0,0,0.0,0.0,0,0,0,182.0,138.0,72.0,21.67,85.0,108.000000
2353,0,48,4.0,1,17.0,0.0,0,0,0,299.0,132.0,81.0,24.35,75.0,70.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,1,40,2.0,1,30.0,0.0,0,0,0,165.0,128.0,83.0,24.71,69.0,60.000000
3391,0,61,1.0,0,0.0,0.0,0,1,0,217.0,182.0,86.0,26.98,105.0,113.000000
1711,0,51,1.0,1,20.0,0.0,0,0,0,262.0,102.0,64.0,28.06,80.0,66.000000
2708,1,43,1.0,1,20.0,0.0,0,0,0,263.0,132.0,90.0,28.85,72.0,71.000000
2837,1,40,3.0,1,15.0,0.0,0,0,0,203.0,123.0,82.0,24.74,75.0,78.000000

In [ ]:
X_test

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
3366,0,54,2.0,0,0.0,0.0,0,1,0,320.0,165.0,84.0,38.31,80.0,99.000000
2813,1,48,2.0,1,15.0,0.0,0,0,0,214.0,114.0,80.0,26.27,95.0,99.000000
3746,0,38,2.0,1,3.0,0.0,0,0,0,180.0,115.0,86.0,24.91,70.0,81.963655
3409,0,58,1.0,0,0.0,0.0,0,1,0,241.0,153.0,106.0,26.94,98.0,84.000000
4157,0,61,4.0,0,0.0,0.0,0,0,0,325.0,125.5,85.5,24.40,68.0,70.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
927,1,55,1.0,1,25.0,0.0,0,1,0,230.0,142.0,74.0,23.65,72.0,82.000000
3146,0,60,2.0,1,9.0,0.0,0,1,0,280.0,150.5,90.0,33.45,90.0,81.963655
545,1,39,1.0,1,5.0,0.0,0,1,0,227.0,132.0,92.0,26.47,63.0,74.000000
51,1,51,4.0,0,0.0,0.0,0,0,0,216.0,112.0,66.0,23.47,90.0,95.000000
1960,0,57,3.0,1,1.0,0.0,0,0,0,289.0,142.0,83.0,35.17,68.0,72.000000

In [ ]:
X_test_scaled

array([[-0.86911726,  0.52841858,  0.0153271 , ...,  3.08385086,
         0.35528079,  0.742904  ],
       [ 1.15059273, -0.17328012,  0.0153271 , ...,  0.11669002,
         1.60103104,  0.742904  ],
       [-0.86911726, -1.34277796,  0.0153271 , ..., -0.21847101,
        -0.47521937,  0.00593904],
       ...,
       [ 1.15059273, -1.22582817, -0.97673265, ...,  0.16597841,
        -1.05656948, -0.33855591],
       [ 1.15059273,  0.17756923,  1.99944659, ..., -0.57334739,
         1.18578096,  0.56987041],
       [-0.86911726,  0.87926793,  1.00738685, ...,  2.3100232 ,
        -0.6413194 , -0.4250727 ]])

In [ ]:

from sklearn.linear_model import LogisticRegression

In [ ]:
log_reg=LogisticRegression(random_state=0).fit(X_train_scaled,y_train)

In [ ]:
log_reg.predict(X_train_scaled)

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
log_reg.score(X_train_scaled,y_train)

0.858734039663135

In [ ]:
log_reg.score(X_test_scaled,y_test)

0.8508557457212714